/lab3/target
/lab3/project
/lab3/.idea
/lab2/target
/lab2/project
/lab2/.idea
/lab1/target
/lab1/project
/lab0/target
/lab0/project
/lab0/.idea
/lab1/.idea
/lab0/.bsp
/lab2/.bsp
/lab1/.bsp
/lab3/.bsp
/.idea
/lab7/.idea
/lab7/project
/lab7/target
/lab7/test_run_dir
